<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="picareta_{{ category }}">
                            <p class="alert_teste">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <button class="button-login" id="logar" type="submit">Logar</button>
        </form>
        
        <!-- Links para registro e recuperação de senha -->
        <div class="links-container">
            <p>Não tem uma conta? <a href="/register">Registrar</a></p>
            <p><a class="forgot-password" href="/reset-password">Esqueci a senha</a></p>
        </div>
    </div>
</body>
</html>
