<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="Acre">
        <h2>Redefinir Senha</h2>
        <form action="/redefinir_senha" method="POST" class="Ceara">
            <label for="new-password" class="Goias">Nova Senha:</label>
            <input type="password" id="new-password" name="new_password" required class="Para">

            <label for="confirm-password" class="Rondonia">Confirmar Nova Senha:</label>
            <input type="password" id="confirm-password" name="confirm_password" required class="Roraima">

            <button type="submit" class="Tocantins">Redefinir Senha</button>
        </form>
    </div>
</body>
</html>
